  .carrousel_persos {
    width: 25vw;
    height: 60vh;
    margin: auto;
    position: relative;
   }
   
   .car_img {
   position: absolute;
   top:0;
   left: 10vw;
   object-fit: cover;
   width: 100%;
   height: 100%;
   width: min-content;
   }
   
   .car_img:not(:first-of-type) {
   display: none;
   }
   
   .control {
     text-align: center;
     margin: -10px 35vw;
     margin-top: -30px;
     display: flex;
     justify-content: space-around;
     position: relative;
     left: 135px;
   }
   
   span {
    display: inline-block;
    width: 20px;
    height: 10px;
    margin: 0 1vw;
    border-radius: 50%;
    background-color: wheat;
    cursor: pointer;
   }

   .infos_persos {
       height: 150px;
       margin-top: 30px;
       position: relative;
   }

   .infos_persos>p {
    font-size: 20px;
    color: black;
    text-align: left;
    padding-top: 60px;
    padding-left: 100px;
    position: absolute;
    font-family: roger;
    font-weight: 1px;
   }

   .infos_persos>p:not(:first-of-type) {
    display: none;
    }