  /* CARROUSEL PERSONNAGES SLIDE 3  */
  
  .carrousel_persos {
    width: 25vw;
    height: 60vh;
    margin: auto;
    position: relative;
   }
   
   .car_img {
   position: absolute;
   top:0;
   left: 10vw;
   object-fit: cover;
   width: 100%;
   height: 100%;
   width: min-content;
   }
   
   .car_img:not(:first-of-type) {
   display: none;
   }
   
   .control {
     text-align: center;
     margin: -10px 35vw;
     margin-top: -30px;
     display: flex;
     justify-content: space-around;
     position: relative;
     left: 135px;
   }
   
   .control>span {
    display: inline-block;
    width: 20px;
    height: 10px;
    margin: 0 1vw;
    border-radius: 50%;
    background-color: wheat;
    cursor: pointer;
   }

   .infos_persos {
       height: 150px;
       margin-top: 30px;
       position: relative;
   }

   .infos_persos>p {
    font-size: 20px;
    color: black;
    text-align: left;
    padding-top: 60px;
    padding-left: 100px;
    position: absolute;
    font-family: roger;
    font-weight: 1px;
   }

   .infos_persos>p:not(:first-of-type) {
    display: none;
    }



  /* CARROUSEL IMAGES FILM SLIDE 4  */

  .carrousel_img {
    /* width: 25vw; */
    height: 60vh;
    margin: auto;
    position: relative;
    top: 20vh;
    background-color: rgba(150, 150, 150, 80%);
    padding: 20px;
   }
   
   .img_film {
   position: absolute;
   top:0;
   left: 35vw;
   object-fit: cover;
   width: 100%;
   height: 90%;
   width: min-content;
   border-radius: 2px;
   margin: auto;
   }
   
   .img_film:not(:first-of-type) {
   display: none;
   }
   